<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807477144666-nv5sh5ciu4sa86a25crb8ngqp47e92aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807477144666-nv5sh5ciu4sa86a25crb8ngqp47e92aq</string>
	<key>API_KEY</key>
	<string>AIzaSyBAds2yRHUVpTtaalrp4qNzn1T65mxHOJM</string>
	<key>GCM_SENDER_ID</key>
	<string>807477144666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mansMemory</string>
	<key>PROJECT_ID</key>
	<string>mans-memory-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>mans-memory-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807477144666:ios:6dcd424e6deea9c1267c63</string>
</dict>
</plist>